/* #root,.page{
    height: 100% !important;
} */
img{
    max-width: 100%;
}
/* 页面尺寸显示 <576px */
.wrap{
    margin: 0 10px;
}
/* >=576 */
@media all and (min-width:576px){
    .wrap{
        margin: 0 10px;
    }
}
/* >=768 */
@media all and (min-width:768px){
    .wrap{
        margin: 0 15px;
    }
}
@media all and (min-width:992px){
    .wrap{
        margin: 0 20px;
    }
}
@media all and (min-width:1200px){
    .wrap{
        width:1000px;
        margin: 0 auto;
    }
}
@media all and (min-width:1600px){
    .wrap{
        width:1200px;
        margin: 0 auto;
    }
}

/* header */
/* topic_list */
.topic_list{
    background-color: #fff !important;
    padding:0 10px;
}
.avatar{
    padding-left: 15px;
}
.tag{
    margin-left:5px
}
.fromNow{
    text-align:right;
    padding-right: 10px;
}